<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><span>My Awards</span></h1>
        </div>
    </div>
    <div class="row features-block">
        <div class="col-lg-12">
            <div id="vertical-timeline" class="vertical-container light-timeline center-orientation">
            {% for award in site.data.awards %}
            {% assign loopindex = forloop.index | modulo: 2 %}
                <div class="vertical-timeline-block">
                    <div class="vertical-timeline-icon navy-bg wow" id="{{award.name.id}}">
                        <i class="fa {{ award.icon }}"></i>
                    </div>
                    <div class="vertical-timeline-content vertical-timeline-grey wow">
                        <div class="career-logo-div"><img class="career-logo" src="{{ award.name.image | prepend: site.baseurl }}" alt=""></div>
                        <div>
                        <h2 class="timeline-name"><span>{{ award.name.detail }}</span></h2>
                        <p><span>{{ award.desc.detail }} </span></p>
                        <span class="vertical-date"><span> {{ award.date.detail }} </span>
                        <br/> </span>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
</div>
