<script type="text/javascript">
    $(document).ready(function(e) {
    $('.with-hover-text, .regular-link').click(function(e){
        e.stopPropagation();
    });
    
    /***************
    * = Hover text *
    * Hover text for the last slide
    ***************/
    $('.with-hover-text').hover(
        function(e) {
            $(this).css('overflow', 'visible');
            $(this).find('.hover-text')
                .show()
                .css('opacity', 0)
                .delay(200)
                .animate(
                    {
                        paddingTop: '0px',
                        opacity: 1
                    },
                    'fast',
                    'linear'
                );
        },
        function(e) {
            var obj = $(this);
            $(this).find('.hover-text')
                .animate(
                    {
                        paddingTop: '0',
                        opacity: 0
                    },
                    'fast',
                    'linear',
                    function() {
                        $(this).hide();
                        $( obj ).css('overflow', 'hidden');
                    }
                );
        }
    );    
});
</script>
<div class="container">
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><span>Contact Me</span></h1>
            <h4><span>Get in touch, I'd love to hear from you!<span><h4>
        </div>
    </div>
    <div id="contact-row-4" class="row">
            {% for item in site.data.links %}
            <div class="col-12 col-sm-2 with-hover-text">
                <p><a {{item.href}}><i class="fa-links fa fa-{{item.icon}} fa-5x"></i></a></p>
                <div class="hover-text font-light ">{{item.text}}</div></a>
            </div><!-- /col12 -->
            {% endfor %}
    </div><!-- /row -->
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
            <p><strong>&copy; {{ 'now' | date: "%Y" }} {{ site.title }}</strong></p>
        </div>
    </div>
</div>
