<script type="text/javascript">
    var lastWindowWidth = $(this).width();
    $(document).ready(function() {
        var $carousel = $('.project-carousel').flickity({
            contain: true,
            autoPlay: 5000,
            pageDots: false,
            prevNextButtons: false,
            pauseAutoPlayOnHover: false,
            wrapAround: true,
        });
        $('.project-carousel').mouseleave(function() {
            $carousel.flickity('playPlayer')
        });
        function onLoadeddata( event ) {
          var cell = $carousel.flickity( 'getParentCell', event.target );
          $carousel.flickity( 'cellSizeChange', cell && cell.element );
        }
        $carousel.find('video').each( function( i, video ) {
          video.play();
          $( video ).on( 'loadeddata', onLoadeddata );
        });
    });
</script>
<div class="container">
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><span>My Projects</span></h1>
        </div>
    </div>
    <div class="row">
        {% for project in site.data.projects %}
            {% assign loopindex = forloop.index | modulo: 2 %}
            {% if forloop.last %}
                {% if forloop.last == forloop.first %}
            <div class="col-sm-6 wow col-sm-offset-3 zoomIn">
                {% else %}
            <div class="col-sm-6 wow {% if loopindex == 1 %} fadeInLeft col-sm-offset-3 {% else %} fadeInRight {% endif %}">
                {% endif %}
            {% else %}
            <div class="col-sm-6 wow {% if loopindex == 1 %} fadeInLeft {% else %} fadeInRight {% endif %}">
            {% endif %}
              <div class="team-member" id={{project.id}}>
                  <div class="project-carousel">
                      {% for images in project.images %}
                        {% if images.vid %}
                          <div class="project-carousel-cell"><video autoplay muted loop class="project-carousel-video" src="{{ images.vid | prepend: site.baseurl }}"></video></div>
                        {% else %}
                          <div class="project-carousel-cell"><img class="project-carousel-image" src="{{ images.img | prepend: site.baseurl }}" alt=""></div>
                        {% endif %}
                      {% endfor %}
                  </div>
                  <h4 class="project-title"><a href="{{ project.url | prepend: 'https://github.com' }}" target="blank"><span class="navy">{{ project.name }}</a></span></h4>
                  <p><span>{{ project.desc }}</span></p>
                  <div>
                  <div class="link-effect">
                  {% if project.urls %}
                  {% for lnk in project.urls %}
                    <a href="{{lnk.url}}" target="_blank" data-text="{{lnk.name}}">{{lnk.name}}</a>
                  {% endfor %}
                  {% endif %}
                  </div>
                  </div>
              </div>
          </div>
      {% endfor %}
    </div>
</div>
<br>
