<script type="text/javascript">
	var $default = 6
	var $word_array = [
		{text: "Leadership", weight: $default+1, link:"#CUER"},
		{text: "Teamwork", weight: $default, link: "#Hackbridge"},
		{text: "Computer Vision", weight: $default - 2, link: "#FBHack"},
		{text: "Machine Learning", weight: $default - 1, link: "#QB"},
		{text: "Programming", weight: $default - 1, link: "#Scholarly"}, 
		{text: "Project Management", weight: $default - 2, link:"#CUER"},
		{text: "Product Management", weight: $default - 2, link:"#Vivacity_PM"},
		{text: "Product Design", weight: $default - 2, link: "http://www.imranahmed.io"},
		{text: "Research", weight: $default - 1, link: "#NIPS"},
          // ...as many words as you want
      ];
	$(document).ready(function() {
		var $window = $(this),
           windowWidth = $window.width();
        if (windowWidth < 400) {
            $('.word-cloud').jQCloud($word_array, {
				autoResize: true,
				delay: 10,
				fontSize: {from:0.06, to:0.02}
				/*colors: ["#800026", "#bd0026", "#e31a1c", "#fc4e2a", "#fd8d3c", "#feb24c", "#fed976", "#ffeda0", "#ffffcc"],*/
			});
        } else {
        	$('.word-cloud').jQCloud($word_array, {
				autoResize: true,
				delay: 10,
				fontSize: {from:0.08, to:0.02}
				/*colors: ["#800026", "#bd0026", "#e31a1c", "#fc4e2a", "#fd8d3c", "#feb24c", "#fed976", "#ffeda0", "#ffffcc"],*/
			});
        }
	});
</script>
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><span>My Skills</span></h1>
            <h4><span>Tap a word below to jump to my relevant experience!<span><h4>
        </div>
    </div>
    <div class='word-centre'>
    <div class="word-cloud"></div>
    </div>
</div>
