#typed-intro {
    max-width: 80%;
    min-height: 64px;
    text-align: center;
    margin-top: -20px;
}

/* Custom image size (for front-page view) */
.image.is-256x256 {
    max-height: 256px;
    max-width: 256px;
}

/* Reduce padding to fit on page */

.modify-hr{
    margin-top: 10px;
    margin-bottom: 10px;
}
.suppress-section-padding {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}
.suppress-ul-padding {
    margin-top: 0.5rem !important;
}

/* Enable sticky LHS column */
.is-sticky {
    position: sticky;
}

/* Footer content for non-mobile */ 
.desktop-footer-parent {
    position: absolute;
    bottom: 0px;
}

.desktop-footer-content {
    margin-bottom: 10px;   
    text-align: center;
    opacity: 0.75;
}

/* Scroll prompter - source: https://codepen.io/nxworld/pen/OyRrGy */

.scrollPrompt div {
    position: absolute;
    bottom: 60px;
    z-index: 2;
    color: #000;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
}

.scrollPrompt div:hover {
    opacity: .5;
}

#scrollPromptAnimation1 div span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 46px;
    height: 46px;
    margin-left: -23px;
    border: 1px solid #000;
    border-radius: 100%;
    box-sizing: border-box;
}

#scrollPromptAnimation1 div span::after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    width: 16px;
    height: 16px;
    margin: -12px 0 0 -8px;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
}

#scrollPromptAnimation1 div span::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    content: '';
    width: 44px;
    height: 44px;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, .1);
    border-radius: 100%;
    opacity: 0;
    -webkit-animation: spa1kf 3s infinite;
    animation: spa1kf 3s infinite;
    box-sizing: border-box;
}

@-webkit-keyframes spa1kf {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    60% {
        box-shadow: 0 0 0 60px rgba(0, 0, 0, .1);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes spa1kf {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    60% {
        box-shadow: 0 0 0 60px rgba(0, 0, 0, .1);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

#scrollPromptAnimation2 div {
    padding-top: 60px;
}

#scrollPromptAnimation2 div span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: spakf2 3s infinite;
    animation: spakf2 3s infinite;
    box-sizing: border-box;
}

@-webkit-keyframes spakf2 {
    0% {
        -webkit-transform: rotate(-45deg) translate(0, 0);
    }
    20% {
        -webkit-transform: rotate(-45deg) translate(-10px, 10px);
    }
    40% {
        -webkit-transform: rotate(-45deg) translate(0, 0);
    }
}

@keyframes spakf2 {
    0% {
        transform: rotate(-45deg) translate(0, 0);
    }
    20% {
        transform: rotate(-45deg) translate(-10px, 10px);
    }
    40% {
        transform: rotate(-45deg) translate(0, 0);
    }
}