<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="{{ site.description }}" name="description">
    <meta name="keywords" content="{{ site.keywords }}">
    <meta name="author" content="{{ site.author.name }}">
    {% if page.title == "index" %}
    <title>{{ site.title }}</title>
    {% else %}
    <title>{{ page.title }}</title>
    {% endif %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-89916114-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-89916114-1');
    </script>
    <!-- favicon -->
    <link rel="shortcut icon" href="{{ "static/img/icon.png" | relative_url }}">
    <!--load all styles -->
    <link href="{{ "static/css/bulma.css" | relative_url }}" rel="stylesheet">
    <link href="{{ "static/css/common.css" | relative_url }}" rel="stylesheet">
    {% for c_import in page.cssimports%}
        <link href="{{ "static/css/" | append: c_import | relative_url}}" rel="stylesheet">
    {% endfor %}
</head>

<body class="has-navbar-fixed-top">
    <nav class="navbar is-fixed-top has-shadow" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <div class="buttons">
                    <button class="button is-primary">About Me</button>
                </div>
            </a>
            <a class="navbar-item" href="/projects/">
                <span class="icon is-medium has-text-success">
                    <i class="fas fa-book-open"></i>
                </span>
                <span>Projects</span>
            </a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="mailto:96imranahmed@gmail.com?subject=Getting%20in%20touch!">
                    <span class="icon is-medium has-text-danger">
                        <i class="fas fa-envelope"></i>
                    </span>
                    <span>Contact</span>
                </a>
            </div>
            <div class="navbar-end">
                <a class="navbar-item"  target="_blank" href="https://www.linkedin.com/in/96imranahmed/">
                    <span class="icon is-medium has-text-info">
                        <i class="fab fa-lg fa-linkedin-in"></i>
                    </span>
                    <span>LinkedIn</span>
                </a>
                <a class="navbar-item"  target="_blank"  href="https://github.com/96imranahmed">
                    <span class="icon is-medium has-text-black-bis">
                        <i class="fab fa-lg fa-github"></i>
                    </span>
                    <span>GitHub</span>
                </a>
            </div>
        </div>
    </nav>
    <main class='main-content'>
        {{ content }}
    </main>
    <footer>
        {% if page.title != "index" %}
            <div class ="container is-full-width">
                <div class="content default-footer-content copyright-year"></div>
            </div>
        {% endif %}
        <script defer src="{{ "static/js/fa-all.js" | relative_url }}"></script>
        <script language="JavaScript" type="text/javascript" src="{{ "static/js/jquery-3.4.1.min.js" | relative_url }}"></script>
        <script language="JavaScript" type="text/javascript" src="{{ "static/js/common.js" | relative_url }}"></script>
        {% for c_import in page.jsimports%}
            <script language="JavaScript" type="text/javascript" src="{{  "static/js/" | append: c_import | relative_url}}"></script>
        {% endfor %}
    </footer>
</body>
</html>